body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 245, 243);
}
/* section 1 */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 209, 181);
    padding: 0px 100px;
    margin: 20px 20px 0px 20px; /* top right down left*/
}

.header-links{
    display: flex;
    gap: 30px;
}

/* section 2 */
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 211, 200);
    padding: 40px 0px 60px 0px;
    margin: 10px 20px 0px 20px;
    
}
.section2 h2{
    width: 500px;
    font-size: 40px;
}
.section2 p{
    margin-bottom: 50px;
    width: 800px;
    font-size: 20px;
    
}
button a{
    font-weight: 800;
}
.cta a{
    font-size: 18px;
}
button :hover{
    transition: 0.7s;
    padding: 4px 10px;
}

/* section 3 */
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0px 20px;
}
.section3 h2{
    width: 700px;
    font-size: 30px;
}
.section3 p{
    margin-bottom: 50px;
    width: 900px;
    font-size: 20px;
}
/* section 4 */
.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color:rgb(219, 211, 200) ;
    margin: 0px 20px;
    padding: 70px 300px;
}
img{
    width: 250px;
    height: auto;
}
.about{
    width: 500px;
    flex-shrink: 0;
}
#about-title{
    text-align: left;
    font-size: 26px;
}
#about-text{
    text-align: left;
    margin-bottom: 30px;
}
.about-button a{
    font-size: 16px;
}
/* section 5 */
.section5 {
    display: flex;
    justify-content: space-between;
    padding: 40px 320px;
}
.service-description{
    justify-content: center;
}

.box{
    background-color: rgb(231, 209, 181);
    width: 200px;
    height: 200px;
}
.service-description p{
    text-align: center;
    /* width: 90;  */
    font-size: 20px;
} 
/* section 6 */
.section6{
    background-color: rgb(219, 211, 200);
    margin: 0px 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 455px 30px 455px;
    background-color:rgb(246, 245, 243);
    
}
.testimony h2{
    font-size: 30px;
    width: 400px;
}                        
.testimony p{
    font-size: 20px;
}
/* section 7 */
.extras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px ;
    background-color:rgb(219, 211, 200) ;
    padding: 40px 300px 60px 300px;
}
.extras h2{
    font-size: 30px;
}
.extras p{
    font-size: 20px;
}
/* section 8 */
footer{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgb(231, 209, 181);
    padding: 40px 190px;
    margin: 0px 20px 20px 20px;
}
.left-links, .right-links{
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* -------------- */
/* Remember to include flex-shrink */
/* The content isnt shrinking, despite flex-shrink, the content will escape the parent box */
/* Solve this issue, I belive min-width:; needs to be used but learn how */
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
}
button{
    border: 2px solid black;
    padding: 6px 10px;
    background-color: rgb(219, 211, 200);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}
a{
    text-decoration: none;
    color: black;
}

h2{
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;

}
p{
    text-align: center;
}
